<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/modern-normalize@3.0.1" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
    <title>Systembolaget</title>
</head>
<body>
<p hx-get="/api/assortment/page/{{ current_page }}" hx-trigger="load" hx-swap="outerHTML" hx-push-url="/assortment/page/{{ current_page }}">loading…</p>
</body>
</html>
